@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import 'components/home/home.css';
@import 'components/intro/intro.css';
@import 'components/related/related.css';
@import 'components/steps/steps.css';
@import 'components/laws/laws.css';
@import 'components/reasons/reasons.css';
@import 'components/examples/example.css';

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url(http://i.imgur.com/X3JZ4z9.jpg?1);
}

.header-container {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

.header-container.gold {
  background-color: white;
  color: #262626;
}

.header-title {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.header-title i {
  margin-right: 10px;
  margin-left: 50px;
}

i.arrow-right {
  position: absolute;
  top: 700px;
  color: white;
  cursor: pointer;
  font-size: 60px;
}

i.arrow-right:hover {
  color: darkgray;
}

.slide-title-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 48px;
  color: white;
}

