.demo-container {
    text-align: center;
    padding: 120px 100px;
}

.slide-title-default.demo-title-fixed {
    border-bottom: 1px solid #EA4747;
}
.slide-title-default.demo-title {
    margin-top: 20px;
    font-size: 50px;
}
.demo-title span {
    font-size: 60px;
    font-weight: bolder;
    color: #EA4747;
}

.demo-subtitle {
    padding: 20px 0;
    font-size: 40px;
    color: #5f5f5f;
}

.demo-image img:first-of-type {
    width: 1000px;
    height: auto;
}

.fa-angle-right.arrow-right.demo-fa {
    position: relative;
    top: 20px;
}

.fa-angle-left.demo-fa {
    cursor: pointer;
    color: white;
    font-size: 100px;
    position: relative;
    top: 20px;
    margin-right: 20px;
}

.fa-angle-left.demo-fa:hover {
    color: darkgrey;
}