.steps-container {
    text-align: center;
    display: flex;
    padding-top: 100px;
}

.step-container {
    width: 33.3%;
    color: white;
}

.step-container i {
    color: #EA4747;
    font-size: 150px;
    height: 130px;
    margin-bottom: 30px;
}

.step-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 1px;
    font-size: 50px;
    color: white;
}

.step-desc {
    color: darkgray;
    font-size: 25px;
}

.steps-centered {
    text-align: center;
    padding: 100px;
}


@media only screen and (max-width: 1200px) {
    .steps-container {
        padding: 100px 50px 50px 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .steps-container {
        display: block;
    }

    .step-container {
        width: 100%;
    }

    .arrow-icon-steps.arrow-right {
        position: relative;
        top: 10px;
    }
}



