.examples-container {
    padding: 150px 50px;
    text-align: center;
}
.examples-title {
    margin-bottom: 20px;
}
.fa.fa-chevron-down {
    color: #EA4747;
    font-size: 50px;
}
.half-row {
    display: flex;
    width: 50%;
}
.logic-container {
    display: flex;
    margin: 30px auto;
}

.logic-step {
    margin-left: 20px;
    text-align: left;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    height: 360px;
}


.card-title {
    padding: 5px 0;
    color: #EA4747;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.card-info {
    height: 200px;
    font-size: 30px;
    color: #5f5f5f;
    padding: 20px 0;
}

.card-icon-row {
    text-align: left;
    width: 100%;
    border-top: 1px solid #eeeeee;
    color: #EA4747;
    font-size: 30px;
    padding-top: 20px;
}

.card-icon-row .fa {
    width: 30%;
}


@media only screen and (max-width: 1200px) {
    .half-row {
        display: block;
    }

    .logic-step {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .logic-container {
        display: block;
    }

    .half-row {
        width: 100%;
    }

    .arrow-example-icon.arrow-right {
        position: relative;
        top: 10px;
    }
}