.title-container {
    text-align: center;
}

.slide-title-default.title-text {
    padding: 200px 0 0 0;
    font-size: 200px;
}

.title-text span {
    border-bottom: 1px solid #EA4747;
}

.title-subtext {
    letter-spacing: 0px;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: darkgray;
}


