.related-container {
    text-align: center;
    padding: 150px 100px;
}

.related-separator {
    padding: 20px 0;
    color: #EA4747;
}

.related-example {
    margin: 0 auto;
    background-color: transparent;
    padding: 10px;
    width: 70%;
    border-radius: 2px;
}

.related-example-inner {
    padding: 20px 100px 70px 100px;
    background-color: transparent;
    border: 1px solid darkgray;
}

.slide-title-default.related-example-title {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    padding: 50px 0;
}

.related-example-info {
    color: darkgrey;
    font-size: 35px;
}

.related-example-code {
    text-transform: uppercase;
    color: white;
    padding: 20px 0;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
    .related-container {
        padding: 150px 50px;
    }

    .related-example {
        width: 80%;
    }

    .related-example-inner {
        padding: 20px 50px 70px 50px;
    }
}

@media only screen and (max-width: 700px) {
    .related-example {
        width: 90%;
    }

    .related-example-inner {
        padding: 20px 20px 70px 20px;
    }
}